In [1]:
# Run this cell if you want to connect to a PostgreSQL database
import sqlalchemy as sa
engine = sa.create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

%load_ext sql
%sql $engine.url

'Connected: postgres@postgres'

In [ ]:
# Run this cell if you want to use a SQLite database
# Note that SQLite does not support the security features of PostgreSQL
%load_ext sql
%sql sqlite:///project-management.db

In [9]:
%%sql

-- Define the employee table

DROP TABLE IF EXISTS employee CASCADE;
CREATE TABLE employee (
  employee_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY,
  name VARCHAR NOT NULL,
  hourly_rate NUMERIC NOT NULL,

  PRIMARY KEY (employee_id)
);

ALTER TABLE employee ADD CONSTRAINT employee_name_not_blank CHECK (employee.name <> '');
ALTER TABLE employee ADD CONSTRAINT employee_hourly_rate_positive CHECK (employee.hourly_rate > 0);


-- Define the project table

DROP TABLE IF EXISTS project CASCADE;
CREATE TABLE project (
  project_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY,
  fk_project_owner_id BIGINT NOT NULL,
  name VARCHAR NOT NULL,
  budget NUMERIC NOT NULL,
  start_date TIMESTAMP NOT NULL,
  end_date TIMESTAMP NOT NULL,

  FOREIGN KEY (fk_project_owner_id) REFERENCES employee(employee_id),
  PRIMARY KEY (project_id)
);

ALTER TABLE project ADD CONSTRAINT project_name_not_blank CHECK (project.name <> '');
ALTER TABLE project ADD CONSTRAINT project_budget_positive CHECK (project.budget > 0);
ALTER TABLE project ADD CONSTRAINT project_time_start_before_end CHECK (project.start_date < project.end_date);


-- Define the project plan table

DROP TABLE IF EXISTS project_plan CASCADE;
CREATE TABLE project_plan (
  project_plan_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY,
  fk_project_id BIGINT NOT NULL,
  name VARCHAR NOT NULL,
  budget NUMERIC NOT NULL,
  start_date TIMESTAMP NOT NULL,
  end_date TIMESTAMP NOT NULL,

  FOREIGN KEY (fk_project_id) REFERENCES project(project_id),
  PRIMARY KEY (project_plan_id)
);

ALTER TABLE project_plan ADD CONSTRAINT project_plan_name_not_blank CHECK (project_plan.name <> '');
ALTER TABLE project_plan ADD CONSTRAINT project_plan_budget_positive_or_zero CHECK (project_plan.budget >= 0);


-- Define trigger for checking that the project plan is within the project time frame

CREATE OR REPLACE FUNCTION project_plan_within_project_time_frame() RETURNS TRIGGER AS $$
BEGIN
  IF (NEW.start_date < (SELECT start_date FROM project WHERE project_id = NEW.fk_project_id)) THEN
    RAISE EXCEPTION 'Project plan start date is before project start date';
  END IF;
  IF (NEW.end_date > (SELECT end_date FROM project WHERE project_id = NEW.fk_project_id)) THEN
    RAISE EXCEPTION 'Project plan end date is after project end date';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;  

DROP TRIGGER IF EXISTS project_plan_within_project_time_frame ON project_plan;
CREATE TRIGGER project_plan_within_project_time_frame BEFORE INSERT OR UPDATE ON project_plan FOR EACH ROW EXECUTE PROCEDURE project_plan_within_project_time_frame(); 


-- Define trigger for checking that the project plan is within the project budget

CREATE OR REPLACE FUNCTION project_plan_within_project_budget() RETURNS TRIGGER AS $$
BEGIN
  IF (NEW.budget > (SELECT budget FROM project WHERE project_id = NEW.fk_project_id)) THEN
    RAISE EXCEPTION 'Project plan budget is greater than project budget';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS project_plan_within_project_budget ON project_plan;
CREATE TRIGGER project_plan_within_project_budget BEFORE INSERT OR UPDATE ON project_plan FOR EACH ROW EXECUTE PROCEDURE project_plan_within_project_budget();


-- Define the project plan employee join table

DROP TABLE IF EXISTS project_plan_employee CASCADE;
CREATE TABLE project_plan_employee (
  fk_project_plan_id BIGINT NOT NULL,
  fk_employee_id BIGINT NOT NULL,

  FOREIGN KEY (fk_project_plan_id) REFERENCES project_plan(project_plan_id),
  FOREIGN KEY (fk_employee_id) REFERENCES employee(employee_id),
  PRIMARY KEY (fk_project_plan_id, fk_employee_id)
);


-- Define the activity type enumeration

DROP TABLE IF EXISTS activity_type CASCADE;
CREATE TABLE activity_type (
  activity_type_id VARCHAR NOT NULL,

  PRIMARY KEY (activity_type_id)
);


-- Define the activity table 

DROP TABLE IF EXISTS activity CASCADE;
CREATE TABLE activity (
  activity_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY,
  fk_project_plan_id BIGINT NOT NULL,
  fk_activity_type_id VARCHAR NOT NULL,
  start_date TIMESTAMP NOT NULL,
  end_date TIMESTAMP NOT NULL,

  FOREIGN KEY (fk_project_plan_id) REFERENCES project_plan(project_plan_id),
  FOREIGN KEY (fk_activity_type_id) REFERENCES activity_type(activity_type_id),
  PRIMARY KEY (activity_id)
);


-- Define trigger for checking that the activity is within the project plan time frame

CREATE OR REPLACE FUNCTION activity_within_project_plan_time_frame() RETURNS TRIGGER AS $$
BEGIN
  IF (NEW.start_date < (SELECT start_date FROM project_plan WHERE project_plan_id = NEW.fk_project_plan_id)) THEN
    RAISE EXCEPTION 'Activity start date is before project plan start date';
  END IF;
  IF (NEW.end_date > (SELECT end_date FROM project_plan WHERE project_plan_id = NEW.fk_project_plan_id)) THEN
    RAISE EXCEPTION 'Activity end date is after project plan end date';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS activity_within_project_plan_time_frame ON activity;
CREATE TRIGGER activity_within_project_plan_time_frame BEFORE INSERT OR UPDATE ON activity FOR EACH ROW EXECUTE PROCEDURE activity_within_project_plan_time_frame();


-- Define the activity employee join table

DROP TABLE IF EXISTS activity_employee CASCADE;
CREATE TABLE activity_employee (
  fk_activity_id BIGINT NOT NULL,
  fk_employee_id BIGINT NOT NULL,

  FOREIGN KEY (fk_activity_id) REFERENCES activity(activity_id),
  FOREIGN KEY (fk_employee_id) REFERENCES employee(employee_id),
  PRIMARY KEY (fk_activity_id, fk_employee_id)
);


-- Define trigger for checking that the activity is not overlapping with the employees other activities

CREATE OR REPLACE FUNCTION activity_employee_not_overlapping() RETURNS TRIGGER AS $$
BEGIN
  IF (EXISTS (
    SELECT 1
    FROM activity_employee
    WHERE activity_employee.fk_employee_id = NEW.fk_employee_id
      AND activity_employee.fk_activity_id <> NEW.fk_activity_id
      AND (SELECT start_date FROM activity WHERE activity_id = NEW.fk_activity_id) < (SELECT end_date FROM activity WHERE activity_id = activity_employee.fk_activity_id)
      AND (SELECT end_date FROM activity WHERE activity_id = NEW.fk_activity_id) > (SELECT start_date FROM activity WHERE activity_id = activity_employee.fk_activity_id)
  )) THEN
    RAISE EXCEPTION 'Employee already has an activity that overlaps with the new activity';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS activity_employee_not_overlapping ON activity_employee;
CREATE TRIGGER activity_employee_not_overlapping BEFORE INSERT OR UPDATE ON activity_employee FOR EACH ROW EXECUTE PROCEDURE activity_employee_not_overlapping();

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [35]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'employee';

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('employee', 'employee_id', 'bigint'),
 ('employee', 'hourly_rate', 'numeric'),
 ('employee', 'name', 'character varying')]

In [25]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'project';

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('project', 'project_id', 'bigint'),
 ('project', 'fk_project_owner_id', 'bigint'),
 ('project', 'budget', 'numeric'),
 ('project', 'start_date', 'timestamp without time zone'),
 ('project', 'end_date', 'timestamp without time zone'),
 ('project', 'name', 'character varying')]

In [26]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'project_plan';

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('project_plan', 'project_plan_id', 'bigint'),
 ('project_plan', 'fk_project_id', 'bigint'),
 ('project_plan', 'budget', 'numeric'),
 ('project_plan', 'start_date', 'timestamp without time zone'),
 ('project_plan', 'end_date', 'timestamp without time zone'),
 ('project_plan', 'name', 'character varying')]

In [29]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'project_plan_employee';

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('project_plan_employee', 'fk_project_plan_id', 'bigint'),
 ('project_plan_employee', 'fk_employee_id', 'bigint')]

In [30]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'activity';

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('activity', 'activity_id', 'bigint'),
 ('activity', 'fk_project_plan_id', 'bigint'),
 ('activity', 'start_date', 'timestamp without time zone'),
 ('activity', 'end_date', 'timestamp without time zone'),
 ('activity', 'fk_activity_type_id', 'character varying')]

In [31]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'activity_type';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('activity_type', 'activity_type_id', 'character varying')]

In [32]:
%sql SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = 'activity_employee';

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('activity_employee', 'fk_activity_id', 'bigint'),
 ('activity_employee', 'fk_employee_id', 'bigint')]

In [14]:
%%sql
-- Drop any existing roles
DROP USER IF EXISTS employee_jack;
DROP ROLE IF EXISTS employee_role;

-- Create a database role that has the right to query the project information, not employee information.

CREATE ROLE employee_role NOLOGIN;
GRANT SELECT ON project TO employee_role;
GRANT SELECT ON project_plan TO employee_role;
GRANT SELECT ON project_plan_employee TO employee_role;
GRANT SELECT ON activity TO employee_role;
GRANT SELECT ON activity_employee TO employee_role;
GRANT SELECT ON activity_type TO employee_role;

-- Create a database user with the project_viewer role

CREATE USER employee_jack WITH PASSWORD 'jack';
GRANT employee_role TO employee_jack;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [11]:
%%sql
-- Find how many employees of for a project titled "A" are involved in its plan “B”?

SELECT COUNT(DISTINCT fk_employee_id)
FROM project_plan_employee
WHERE fk_project_plan_id = (
  SELECT project_plan_id
  FROM project_plan
  INNER JOIN project ON project.project_id = project_plan.fk_project_id
  WHERE project.name = 'A'
  AND project_plan.name = 'B'
);

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(0,)]

In [12]:
%%sql
-- Find the names of plans made for project "A" with least cost.

SELECT project_plan.name
FROM project_plan
WHERE fk_project_id = (
  SELECT project.project_id
  FROM project
  WHERE project.name = 'A'
)
ORDER BY project_plan.budget
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]

In [16]:
%%sql
-- For each employee retrieve the name, project name and plan name with the most working time.

SELECT employee.name employee_name, project.name project_name, project_plan.name project_plan_name
FROM employee
JOIN activity_employee ON activity_employee.fk_employee_id = employee.employee_id
JOIN activity ON activity.activity_id = activity_employee.fk_activity_id
JOIN project_plan ON project_plan.project_plan_id = activity.fk_project_plan_id
JOIN project ON project.project_id = project_plan.fk_project_id
GROUP BY employee.name, project.name, project_plan.name
ORDER BY SUM(activity.end_date - activity.start_date) DESC;

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]

In [17]:
%%sql
-- Retrieve all the employees name and their least working time with respect to different project.

SELECT e.name employee_name, SUM(end_date - start_date) AS working_time
FROM employee e
JOIN activity_employee ae ON ae.fk_employee_id = e.employee_id
JOIN activity a ON a.activity_id = ae.fk_activity_id
GROUP BY e.name
ORDER BY working_time ASC;

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]

In [19]:
%%sql
-- Retrieve all the plans for a project with order of their working period.

SELECT project_plan.name project_plan_name, project_plan.start_date, project_plan.end_date
FROM project_plan
WHERE fk_project_id = (
  SELECT project_id
  FROM project
  WHERE project.name = 'A'
)
ORDER BY project_plan.start_date;

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]